#Mac Files
.DS_Store

# Logs
logs
*.log
npm-debug.log*

# Coverage directory used by tools like istanbul
coverage
*.lcov

# Bower dependency directory (https://bower.io/)
bower_components

# Dependency directories
node_modules/

# TypeScript v1 declaration files
typings/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# dotenv environment variables file
.env
.env.test

#build / generate output
build/

